<PaperCard>
  <TodoHeader
    @title={{this.title}}
    @numActive={{this.numActive}}
    @addTodo={{this.addTodo}}
    @completeAll={{this.completeAll}}
  />
  <PaperList>
    <PaperDivider />
    {{#each this.filteredTodos as |todo|}}
      <Todo
        @todo={{todo}}
        @toggleTodo={{this.toggleTodo}}
        @removeTodo={{this.removeTodo}}
      />
    {{else}}
      <PaperItem>
        <p class="todo-list-empty">
          {{#if this.isLoading}}
            <div class="layout-row layout-align-center-center">
              <PaperProgressCircular @diameter={{25}} />
              <span class="layout-padding">Loading...</span>
            </div>
          {{else}}
            No todos found. Yay!
          {{/if}}
        </p>
        <PaperDivider />
      </PaperItem>
    {{/each}}
  </PaperList>
  <TodoFooter
    @count={{this.filteredTodos.length}}
    @numCompleted={{this.numCompleted}}
    @selectedFilter={{this.selectedFilter}}
    @updateFilter={{action (mut this.selectedFilter)}}
    @clearCompleted={{this.clearCompleted}}
  />
</PaperCard>
