<PaperToolbar>
  <PaperToolbarTools>
    <h2>{{@title}}</h2>
    <span class="flex"></span>
    <PaperButton
      @raised={{true}}
      @disabled={{this.noActiveTodos}}
      onClick={{@completeAll}}
    >
      Complete all
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<PaperList class="todo-header-input">
  <PaperItem class="layout flex">
    <PaperInput
      class="flex"
      @label="What needs to be done?"
      @value={{this.newTodoDescription}}
      @onChange={{action (mut this.newTodoDescription)}}
      @onKeyDown={{this.onInputKeydown}}
    />
  </PaperItem>
</PaperList>
