{{!-- this component returns an HTML "fragment" (i.e. multiple top-level elements)! --}}
<PaperToolbar>
  <PaperToolbarTools>
    <h2>{{this.title}}</h2>
    <span class="flex"></span>
    <PaperButton
      @raised={{true}}
      @disabled={{this.noActiveTodos}}
      onClick={{@completeAll}}
    >
      Complete all
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
<div class="todo-header-progress">
  {{#if @isSaving}}
    <PaperProgressLinear @accent={{true}} />
  {{/if}}
</div>
<PaperList class="todo-header-input">
  <PaperItem class="layout flex">
    <PaperInput
      class="flex"
      @icon="create"
      @label="What needs to be done?"
      @value={{this.newTodoDescription}}
      @onChange={{action (mut this.newTodoDescription)}}
      @onKeyDown={{this.onInputKeydown}}
    />
  </PaperItem>
</PaperList>
