<PaperItem as |Controls|>
  <Controls.checkbox @value={{isChecked}} @onChange={{action (mut isChecked)}} />
  <p>This is an item</p>
  <div class="md-secondary-container">
    <Controls.button @secondary={{true}} @iconButton={{true}} @onClick={{null}}>
      <PaperIcon @icon="delete-outline" />
    </Controls.button>
  </div>
  <PaperDivider />
</PaperItem>
