<PaperItem as |Controls|>
  <Controls.checkbox @value={{@todo.isCompleted}} @onChange={{action @toggleTodo @todo}} />
  <p class="{{if @todo.isCompleted 'todo-list-is-completed'}}">{{@todo.description}}</p>
  <div class="md-secondary-container">
    <Controls.button @secondary={{true}} @iconButton={{true}} @onClick={{action @removeTodo @todo}}>
      <PaperIcon @icon="delete-outline" />
    </Controls.button>
  </div>
  <PaperDivider />
</PaperItem>
